{% extends "style.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arquivos CNAB</title>
  </head>
  <body>
    <div class="container-body">
      <h1>Arquivos CNAB</h1>
      <p>Bem vindo(a) a plataforma de consulta de movimentações financeiras</p>
      <form method="POST" enctype="multipart/form-data" id="file">
        <div >
          {% csrf_token %}
          <label class="chooseFile" for="id_file">Selecionar arquivo &#187</label>
          {{ form }}
        </div>
      </form>
      <script>
        document.getElementById("id_file").onchange = function () {
          document.getElementById("file").submit();
        };
      </script>
    </div>
  </body>
</html>

{% endblock content %}
